.vscode/
build/
env/
__pycache__/
.accelera_cache/
.accelera_deployment/
cache/
report/
**/node_modules/
test.xml
examples/PetImages
examples/PetImagesReport
examples/reviews
examples/sentiment
examples/iris
examples/titanic_preprocessing
examples/heart
examples/house_price_preprocessing
examples/PurchaseStatus
examples/date 
examples/PetImages-1
examples/segmentation_dataset
examples/SegmentationReport
examples/tumerReport
examples/tumer_data
examples/student_report
examples/Housing
examples/AutogluonModels
examples/customer_purchase_data
examples/job_salary_prediction_dataset
examples/student_exam_performance_dataset
examples/student_placement_synthetic
examples/Titanic-Dataset
examples/*.png
examples/*.jpg
examples/*.jpeg
examples/*.csv
examples/*.json
examples/*.zip
examples/*.pdf
bin/
lib/
lib64/
include/
pyvenv.cfgexamples/student_report
examples/Dataset_spine
examples/job_salary
examples/diabetes_dataset
examples/Life_Expectancy_Data
examples/insurance
examples/student_exam
examples/Teen_Mental_Health_Dataset
examples/ai_student_impact_dataset
examples/gaming_addiction
examples/DailyDialog
examples/images
examples/masks
examples/startup_founder_burnout_2026
examples/healthy_diet_calorie_intake
examples/healthy_diet_calorie_intake
examples/Concrete_Data_Yeh
examples/TestReviews
examples/brain_tumer-1
examples/CarPrice_Assignment
examples/catboost_info
examples/global_ai_jobs
models/open_mp_classifier/*.pkl
open_mp_generator/
.env
accelera/src/accelera_automl/automlbenchmark/