.vscode/
build/
env/
__pycache__/
.accelera_cache/
cache/
report/
test.xml
examples/PetImages
examples/PetImagesReport
examples/reviews
examples/sentiment
examples/iris
examples/titanic_preprocessing
examples/heart
examples/house_price_preprocessing
examples/PurchaseStatus
examples/date
examples/segmentation_dataset
examples/SegmentationReport
examples/tumerReport
examples/tumer_data
bin/
lib/
lib64/
include/
pyvenv.cfgexamples/student_report
examples/Dataset_spine
examples/diabetes_dataset
examples/job_salary
examples/student_exam
examples/*.csv
.env
/models
