# Core Python Utilities
setuptools
regex
packaging
build
# ML/DL Libraries & Tools
dm-tree
scikit-learn
pandas
numpy
xgboost==2.0.3
# Dev & Testing Tools
tqdm
pre-commit
astor
ruff
pytest
pytest-cov
namex
matplotlib
seaborn
nltk