# Core Python Utilities
setuptools
regex
packaging
build
# ML/DL Libraries & Tools
dm-tree
scikit-learn
pandas==2.3.3
numpy
xgboost==2.1.4
# Dev & Testing Tools
tqdm
pre-commit
astor
ruff
pytest
pytest-cov
namex
matplotlib
seaborn
nltk
torch