.auth-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: white;
  min-height: 100vh;
  color: #0f172a;
  display: flex;
  flex-direction: column;
}

.auth-page-content {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f172a;
  color: white;
  padding: 25px;
  border-radius: 20px;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.auth-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-input p {
  font-style: italic;
}

.auth-input input {
  border-radius: 10px;
  padding: 8px 10px;
  border: none;
}

.auth-button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  color: #0f172a;
  transition: 0.2s;
  font-weight: bold;
}

.auth-button:hover {
  background: #1e293b;
  color: white;
}

.auth-link {
  color: #cbd5e1;
  text-decoration: none;
}

.auth-link:hover {
  color: white;
  text-decoration: underline;
}

.auth-message {
  color: #cbd5e1;
}
