.benchmark-display-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: white;
  min-height: 100vh;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: small;
}
h1 {
  margin-bottom: 10px;
}
h3 {
  padding-left: 20px;
}
.benchmark-display-card {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  color: #16223d;
  padding: 30px;
  border-radius: 10px;
  gap: 15px;
}
.card-sub-component {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}
.card-sub-component p {
  padding-left: 30px;
}
.params {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.params p {
  margin-bottom: 5px;
}
.param {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.allowed-values {
  padding-left: 20px;
}
.allowed-values ul {
  padding-left: 25px;
}
.leader-board-button{
    text-decoration: none;
}
.leader-board-button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0f172a;
  color: white;
  transition: 0.2s;
  margin-bottom: 10px;
  text-decoration: none;
}
