* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  min-height: 100vh;
  background: white;
  color: #0f172a;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0f172a;
}

.navigation-logos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation-logo {
  width: 40px;
  height: 40px;
}

.navigation-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.nvigation-links {
  display: flex;
  gap: 25px;
}

.nvigation-link {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 15px;
  position: relative;
  transition: 0.2s;
}

.nvigation-link:hover {
  color: white;
  text-decoration: underline;
}
.home-header {
  text-align: center;
  margin-top: 80px;
}

.home-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.home-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 16px;
  color: #94a3b8;
  font-style: italic;
}
