.benchmarks-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: white;
  min-height: 100vh;
  color: #0f172a;
  display: flex;
  flex-direction: column;
}
.benchmark-page-content {
  margin-top: 100px;
}

.benchmarks-page-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benchmark-create-button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0f172a;
  color: white;
  transition: 0.2s;
  margin-bottom: 10px;
  text-decoration: none;
}
.benchmarks-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.benchmarks-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0f172a;
  color: white;
  transition: 0.2s;
}

.benchmarks-button:hover,
.benchmark-create-button:hover {
  background: white;
  color: #0f172a;
}

.benchmarks-problemType-select {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #0f172a;
  color: white;
}

.loading {
  color: #0f172a;
}

.benchmark-card {
  border: 1px solid #0f172a;
  padding: 15px;
  color: white;
  border-radius: 10px;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}
.benchmarks-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.benchmark-card h3 {
  margin-bottom: 5px;
}
.benchmark-info {
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.benchmark-info p {
  font-size: 12px;
  font-style: italic;
}
.benchmark-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benchmark-delete-button,
.benchmark-show-button {
  border: none;
  color: #0f172a;
  padding: 10px 20px;
  border-radius: 20px;
}
.benchmark-show-button:hover,
.benchmark-delete-button:hover {
  color: white;
  background-color: #1e293b;
}
