.create-benchmark-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: white;
  min-height: 100vh;
  color: #0f172a;
  display: flex;
  flex-direction: column;
}
.create-benchmark-content {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f172a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-benchmark-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
