.metrics-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: white;
  min-height: 100vh;
  color: #0f172a;
  display: flex;
  flex-direction: column;
}
.metrics-page-content {
  margin-top: 100px;
}

.metrics-page-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.metric-create-button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0f172a;
  color: white;
  transition: 0.2s;
  margin-bottom: 10px;
  text-decoration: none;
}
.metrics-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.metrics-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0f172a;
  color: white;
  transition: 0.2s;
}

.metrics-button:hover,
.metric-create-button:hover {
  background: white;
  color: #0f172a;
}

.metrics-problemType-select {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #0f172a;
  color: white;
}

.loading {
  color: #0f172a;
}

.metric-card {
  border: 1px solid #0f172a;
  width: 100%;
  padding: 15px;
  color: white;
  border-radius: 10px;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  display: block;
  text-decoration: none;
}

.metric-info {
  margin-top: 15px;
  border-radius: 10px;
  color: #1e293b;
  width: 100%;
}
.metric-info p {
  font-size: 12px;
  font-style: italic;
  color: white;
}
.metric-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.metric-delete-button {
  border: none;
  color: #0f172a;
  padding: 10px 20px;
  border-radius: 20px;
}
.metric-delete-button:hover {
  color: white;
  background-color: #1e293b;
}
.metrics-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
